*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
@font-face {
    font-family: "sansPro-light";
    src: url(fonts/SourceSansPro-Light.otf);

}
@font-face {
    font-family: "sansPro-regular";
    src: url(fonts/SourceSansPro-Regular.otf);

}@font-face {
    font-family: "sansPro-bold";
    src: url(fonts/SourceSansPro-Bold.otf);

}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    margin-top: 100px;
}
header{
    z-index: 2;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    box-shadow: 0 0 8px grey;
    background-color: white;
}
nav{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 80px;
    width: max-content;

}
nav li:last-of-type{
    margin-right: 0;
}
.follow_btn{
    list-style: none;
    margin-right: 30px;

}
.follow_btn a{
    border: 1px solid rgb(197, 108, 214);
    padding: 5px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(197, 108, 214);
    font-family: "sansPro-light",Arial, Helvetica, sans-serif;
}
.follow_btn a:hover{
    animation: back-color 0.2s forwards;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: "sansPro-light",Arial, Helvetica, sans-serif;

}
nav a:hover{
    animation: color 0.2s forwards;
}
@keyframes color {
    to{
        color: black;
    }
    
}
@keyframes back-color {
    to{
        border-color:rgb(235, 74, 235) ;
        color: rgb(235, 74, 235);
    }
    
}
.welcome{
    position: relative;
    background:linear-gradient(rgba(137, 95, 143, 0.5),rgba(0,0,0,0.5)),url(images/background.png);
    background-position: center center;
    background-size: 100% 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-text{
    position: relative;
    height:max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.welcome-text::before{
    content: '';
    border: 2px solid rgba(141, 255, 47,0.5);
    mix-blend-mode: hue;
    position: absolute;
    background-color: greenyellow;
    filter: blur(5px);
    border-radius: 3px;
    z-index: 0;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}
.welcome a{
    z-index: 1;
    border-radius: 3px;
    background-color: black;
    padding: 10px 30px;
    margin:30px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'sansPro-light',Arial, Helvetica, sans-serif;
    color: white;
}
.welcome a:hover{
    animation: color2 0.2 forwards;
}
@keyframes color2 {
    to{
        filter: brightness(200%);
    }
    
}

.welcome h1{
    margin: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: white;
    font-size: 100px;
    font-family: 'sansPro-regular',Arial, Helvetica, sans-serif ;
}
.container{
    margin-top: 90px;
    display: grid;
    width: 100%;
    grid-template-columns: 60%;
    grid-row-gap: 50px;
    justify-content: center;
}
.category{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 8px rgb(223, 221, 221);
}
.category h1{
    padding-top: 40px;
    font-family: 'sansPro-bold';
    font-size: 30px;
}
.category p{
    font-family: 'sansPro-light',Arial, Helvetica, sans-serif;
    color: #00000090;
    text-align: center;
    font-size: 20px;
    padding: 30px 5%;
    padding-bottom: 10px;
    width: 100%;
}
.socials{
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border: 1px solid #00000030;

}
.socials h1{
    margin-top: 20px;
    color: black;
    font-size: 50px;
    font-family: 'sansPro-regular',Arial, Helvetica, sans-serif ;
}
.social-links{
    width: 30%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-around;
}
.socials img{
    width: 70px;
    height: 70px;
    opacity: 0.7;
}
.socials img:hover{
    animation: opacity 0.2s forwards;
}
@keyframes opacity {
    to{
        opacity: 1;
    }
    
}
footer{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
footer a{
    font-size: 20px;
    text-decoration: none;
    font-family: 'sansPro-light',Arial, Helvetica, sans-serif;
    margin: 15px;
    color: grey;
}
footer a:hover{
    animation: color 0.2s forwards;
}
@media  screen and (max-width:700px){
    header a{
        font-size: 15px;
    }
    header li{
        margin-right: 20px;
    }
    .follow_btn{
        float: none;
        margin-right: 5px;
    }
    .follow_btn a{
        font-size: 15px;
        padding: 5px 10px;
    }
    .welcome a{
        font-size: 15px ;
        padding: 5px 12px;
    }
    .welcome{
        background:linear-gradient(rgba(137, 95, 143, 0.5),rgba(0,0,0,0.5)),url(images/background-phone.png);
        height: 50vh;
        background-position: center center;
    }
    .welcome h1{
        width: 200px;
        font-size: 50px;
    }
    .socials h1{
        font-size: 30px;
    }
    .socials img{
        width: 40px;
        height: 40px;
    }
    footer a{
        font-size: 12px;
    }
}


